.App {
  text-align: center;
  margin: 100px;
}

.shopping-list form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: lightcyan;
  padding: 30px;
}

h1 {
  background-color: lightblue;
  width: 100%;
  padding: 30px;
}

.list-item {
  background-color: lightblue;
  border-color: #ddd;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #333;
  display: grid;
  grid-template-columns: 60% 10% 20% 10%;
  width: 300px;
}

.list-item label {
  text-align: left;
}

.list-item button {
  font-size: 14px;
}

.list-item input {
  text-align: right;
}

/* Fondo oscuro semitransparente */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* El cuadrado blanco en el centro */
.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.modal-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}